<!DOCTYPE html>  
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Code Hub" %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- <meta name="author" content="www.intelisoftbd.com"> -->
    <style>
      body{
      padding-left:5%;
      padding-right:5%;
      padding-top:0px;
      margin-top:0px;
      font-size:8pt;
      }

      html, body, #wrapper{ height: 100%; }
            body > #wrapper{ height: auto; min-height: 99.65%; margin-top:-105px;}
    </style>
    <%= stylesheet_link_tag 'template' %>
    <%= stylesheet_link_tag 'application', 'jquery-ui-1.8.2.custom', 'style', 'vistyle' %>
    <%= javascript_include_tag 'jquery-1.5.1.min', 'jquery-ui-1.8.2.custom.min', 'jquery.livequery', 'jquery.validate', 'jquery.metadata', 'jquery.form', 'jquery.scrollTo', 'rails', 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>    
  </head>

  <body>
    <%= render :partial => "shared/flash_notice" %>
    <%= render :partial => "shared/progress" %>
    <div class="topbar">
      <div class="logo" id="logo"><br><br><img src='../images/logo_small.png'></div>
      <div class="msg" id="msg">This is a test message</div>
    </div>  
    <div class="sidebar">      
      <%= render :partial => 'shared/side_panel' %>
    </div>

    <div class="body">
      
      <p class="largeFont" style="float:left;">
        <%= link_to 'Home', root_path %> |  <%= link_to "Post your code", new_post_path %> 
        <% unless user_signed_in? || admin_signed_in? -%>
        | <%= link_to 'Register as User', new_user_registration_path %> | <%= link_to 'Log in as User', new_user_session_path %> | <%= link_to 'Log in as Admin', new_admin_session_path %>  
        <% end -%>        
      </p>
      
      <% if user_signed_in? -%>
        <p id="user_login_box" class="largeFont" style="float:right;">
          <%= current_user.email %> |
          <%= link_to 'My info', edit_user_registration_path %> |
          <!-- <%#= link_to 'My work', projects_path %> | -->
          <%= link_to 'Sign out', destroy_user_session_path %>          
        </p>
      <% end -%>
      
      <% if admin_signed_in? -%>
        <p id="admin_login_box">
          <%= current_admin.email %> |
          <%#= link_to 'Admin section', admins_path %> |
          <%= link_to 'Sign out', destroy_admin_session_path %>
        </p>
      <% end -%>
      
      <% if user_signed_in? -%>
        <% if current_user.avatar.url != "/avatars/original/missing.png" %>
          <p id="uAvatar" class="uAvatar">            
            <a><%= image_tag current_user.avatar.url(:medium) %></a>
          </p>
        <% else %>
        <p id="uAvatar" style="float:right;">
          <a><img src="/images/gravatarthin.jpg" class="teaser-thumb" alt="Avatarl"></a>
        </p>
        <% end %>            
      
      
        <div id="avatar" style="display:none;">
          <% form_for :user, @user, :url => upload_image_profile_path(current_user.id), :html => { :multipart => true, :method => :put } do |f| %>
            <%= f.file_field :avatar, :class => 'iText' %>
            <%= f.submit "Upload" %>
          <% end %>
        </div>
      <% end %> 
      
      <p class="clear"><hr/></p>      
      
      <%= yield %>
    </div>
 
    <div class="wrapper" style="clear:both;height:50px;"></div>

    <div class="footer" id="footer">
      <img src="images/logo_small.png" align=absmiddle title="www.intelisoftbd.com"> Designed By <a target="_blank" href='http://www.intelisoftbd.com'>Intelisoft Solutions</a>.
    </div>
    
    <%= yield(:js) %>
    
    <% unless flash.empty? %>
      <script type="text/javascript">
          $('#notifications').animate({
              "top" : "0"
          });

          setTimeout(function() {
              $('#notifications').animate({
                  "top" : "-60"
              });
          }, 10000);      
      </script>
    <% end %>
    
    <script type="text/javascript">
     $('#uAvatar a').click(function(e) {
        $('#avatar').slideToggle("fast");
        e.preventDefault();
      }); 
    </script>
    
    
  </body>
</html>

 
